Source: vx-dga-desktop-settings
Section: gnome
Priority: extra
Maintainer: Angel lafuente <angel.lafuentezgz@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/vitalinux/vx-desktop-settings

Package: vx-dga-desktop-settings
Architecture: all
Provides: vx-dga-virtual-desktop-settings
Conflicts: vx-dga-virtual-desktop-settings
Replaces: vx-dga-virtual-desktop-settings
Pre-Depends: vx-utils, vx-dconf-profile, vx-dga-desktop-wallpapers, vx-dga-desktop-icons, vx-dga-desktop-theme, gnome-session-fallback
Depends: ${misc:Depends}
Description: Gnome settings for Vitalinux branding.
